lab:
  description: ''
  notes: ''
  title: {{ cml_lab_title }}
  version: 0.2.0
links:
  - id: l0
    n1: n1
    n2: n2
    i1: i3
    i2: i1
    label: Cat8kV-rtr1-GigabitEthernet3<->Cat8kV-rtr2-GigabitEthernet1
  - id: l1
    n1: n2
    n2: n4
    i1: i3
    i2: i2
    label: Cat8kV-rtr2-GigabitEthernet3<->n9kv-sw1-Ethernet1/1
  - id: l2
    n1: n6
    n2: n1
    i1: i3
    i2: i7
    label: n9k-OoB-mgmt-Ethernet1/2<->Cat8kV-rtr1-GigabitEthernet7
  - id: l3
    n1: n6
    n2: n2
    i1: i4
    i2: i7
    label: n9k-OoB-mgmt-Ethernet1/3<->Cat8kV-rtr2-GigabitEthernet7
  - id: l4
    n1: n6
    n2: n4
    i1: i5
    i2: i1
    label: n9k-OoB-mgmt-Ethernet1/4<->n9kv-sw1-mgmt0
  - id: l5
    n1: n7
    n2: n3
    i1: i0
    i2: i2
    label: alpine-0-eth0<->Cat9kV-sw1-GigabitEthernet1/0/1
  - id: l6
    n1: n8
    n2: n5
    i1: i0
    i2: i2
    label: alpine-1-eth0<->Cat9kV-sw2-GigabitEthernet1/0/1
  - id: l7
    n1: n9
    n2: n4
    i1: i0
    i2: i3
    label: alpine-2-eth0<->n9kv-sw1-Ethernet1/2
  - id: l8
    n1: n3
    n2: n6
    i1: i1
    i2: i6
    label: Cat9kV-sw1-GigabitEthernet0/0<->n9k-OoB-mgmt-Ethernet1/5
  - id: l9
    n1: n5
    n2: n6
    i1: i1
    i2: i7
    label: Cat9kV-sw2-GigabitEthernet0/0<->n9k-OoB-mgmt-Ethernet1/6
  - id: l10
    n1: n3
    n2: n1
    i1: i9
    i2: i2
    label: Cat9kV-sw1-GigabitEthernet1/0/8<->Cat8kV-rtr1-GigabitEthernet2
  - id: l11
    n1: n5
    n2: n2
    i1: i9
    i2: i2
    label: Cat9kV-sw2-GigabitEthernet1/0/8<->Cat8kV-rtr2-GigabitEthernet2
  - id: l12
    n1: n10
    n2: n6
    i1: i1
    i2: i2
    label: ubuntu-0-ens3<->n9k-OoB-mgmt-Ethernet1/1
  - id: l13
    n1: n10
    n2: n1
    i1: i2
    i2: i1
    label: ubuntu-0-ens4<->Cat8kV-rtr1-GigabitEthernet1
  - id: l14
    n1: n10
    n2: n0
    i1: i0
    i2: i0
    label: ubuntu-0-ens2<->ext-conn-0-port
nodes:
  - boot_disk_size: null
    configuration: bridge0
    cpu_limit: null
    cpus: null
    data_volume: null
    hide_links: false
    id: n0
    image_definition: null
    label: ext-conn-0
    node_definition: external_connector
    ram: null
    tags: []
    x: 400
    y: 40
    interfaces:
      - id: i0
        label: port
        slot: 0
        type: physical
  - boot_disk_size: null
    configuration: "Building configuration...\n\nCurrent configuration : 6229 bytes\n\
      !\n! Last configuration change at 17:09:13 UTC Wed Apr 12 2023\n!\nversion 17.6\n\
      service timestamps debug datetime msec\nservice timestamps log datetime msec\n\
      service call-home\nplatform qfp utilization monitor load 80\nplatform punt-keepalive\
      \ disable-kernel-core\nplatform console serial\n!\nhostname inserthostname_here\n\
      !\nboot-start-marker\nboot-end-marker\n!\n!\nno logging console\n!\nno aaa new-model\n\
      !\nip domain name {{ domain_name }}\ncrypto key generate rsa modulus 4096\nip ssh\
      \ version 2\n!\nlogin on-success log\n!\n!\n!\n!\n!\n!\n!\nsubscriber\
      \ templating\n!\nmultilink bundle-name authenticated\n!\n!\n!\ncrypto pki trustpoint\
      \ SLA-TrustPoint\n enrollment pkcs12\n revocation-check crl\n!\ncrypto pki trustpoint\
      \ TP-self-signed-1110742031\n enrollment selfsigned\n subject-name cn=IOS-Self-Signed-Certificate-1110742031\n\
      \ revocation-check none\n rsakeypair TP-self-signed-1110742031\n!\n!\ncrypto\
      \ pki certificate chain SLA-TrustPoint\n certificate ca 01\n  30820321 30820209\
      \ A0030201 02020101 300D0609 2A864886 F70D0101 0B050030\n  32310E30 0C060355\
      \ 040A1305 43697363 6F312030 1E060355 04031317 43697363\n  6F204C69 63656E73\
      \ 696E6720 526F6F74 20434130 1E170D31 33303533 30313934\n  3834375A 170D3338\
      \ 30353330 31393438 34375A30 32310E30 0C060355 040A1305\n  43697363 6F312030\
      \ 1E060355 04031317 43697363 6F204C69 63656E73 696E6720\n  526F6F74 20434130\
      \ 82012230 0D06092A 864886F7 0D010101 05000382 010F0030\n  82010A02 82010100\
      \ A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D\n  CBB4C798 212AA147\
      \ C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520\n  1C394D78 462EF239\
      \ C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE\n  4AA4E80D DB6FD1C9\
      \ 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC\n  7390A3EB 2B5436AD\
      \ C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188\n  68E69491 20F320E7\
      \ 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7\n  C7479096 B4CB2D62\
      \ EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191\n  C55F0D76 61F9A4CD\
      \ 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44\n  DFC7C6CF 04DD7FD1\
      \ 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201\n  06300F06 03551D13\
      \ 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85\n  4B3D31E5 1B3E6A17\
      \ 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500\n  03820101 00507F24\
      \ D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905\n  604EDCDE FF4FED2B\
      \ 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B\n  D98987BF E40CBD9E\
      \ 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8\n  467A3DF4 4D565700\
      \ 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C\n  7CA7B7E6 C1AF74F6\
      \ 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B\n  5FB0DA06 B92AFE7F\
      \ 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678\n  80DDCD16 D6BACECA\
      \ EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB\n  418616A9 4093E049\
      \ 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0\n  D697DF7F 28\n  \t\
      quit\ncrypto pki certificate chain TP-self-signed-1110742031\n certificate self-signed\
      \ 01\n  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 05050030\n\
      \  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274\n\
      \  69666963 6174652D 31313130 37343230 3331301E 170D3233 30343131 31343532\n\
      \  31365A17 0D333330 34313031 34353231 365A3031 312F302D 06035504 03132649\n\
      \  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D31 31313037\n\
      \  34323033 31308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201\n\
      \  0A028201 01009BB1 E94849DF 52527C94 5F3F4CED 75C5FC93 7112AE04 D2C58FCA\n\
      \  D17D03ED 60693BE1 FBF0F9CB 68637C46 FE2C5472 DE6CDD1D C95762E5 DDACFD3F\n\
      \  BDD56FF4 340D2E5C 076ADF5F F411F482 E6C098EF 30480960 DE0B2119 63CF7400\n\
      \  D2BA01B3 2234B395 EA9F3EF8 A50188B6 4A254906 8D35D467 BDA4580B 02777691\n\
      \  F7C279E7 3D5D22B9 8AFA36E3 54EDC4FC A98EECCD 10982099 617D6662 2EE3107A\n\
      \  085EA51C 3E4D7801 B612595E 37884049 5EFCD5C7 EA07A3AC 16437513 D2973E31\n\
      \  0ADB6F62 0CB63A47 9D0CBE68 60E5DDC5 350EC8F4 7E9C5F4C 6B1655E4 AD7811E0\n\
      \  F8CC23AC 6EEEBDD3 14ED82F1 8C67D4AE 9375C2CE F28DE6E2 99337662 D72FA799\n\
      \  D5830712 47AB0203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF\n\
      \  301F0603 551D2304 18301680 14EFFD57 24465AE1 1EC298FD 04C85850 4F1F9111\n\
      \  19301D06 03551D0E 04160414 EFFD5724 465AE11E C298FD04 C858504F 1F911119\n\
      \  300D0609 2A864886 F70D0101 05050003 82010100 0D0E7A7A 34722214 5448EE08\n\
      \  B5D0A4E7 885F82D5 786AAFFA 466BAD89 C84598A2 B3876473 9E69021B 7CBF5996\n\
      \  3CAF6BD8 C47FF8FC 80BB486C BD7EEFB9 C1C62CB8 7C2766A4 FBB437E7 F9A86E52\n\
      \  142553B3 90875FDA 7E2EC90F 83E98AD3 4E556B0B B2EC1791 F51E6BC8 C8FF3F36\n\
      \  38BF1CC5 858559EC 22381799 B59390A8 6D56D3A7 F4BCFAE9 6F5829C3 3E53BF3F\n\
      \  2A3081F4 50AF6F7A 98601800 9CDDE80F 2BA5AA3E 957BE21B 7BBB4298 092E1518\n\
      \  E99E7897 40D44FE6 E5DC7816 D0951CEC 458D59B1 2CB350DB C2E675F8 9A38FC06\n\
      \  F562AB58 3C3753ED 1A108D7B 1BA9E2B7 12DCC54C DEBFEB5A F101969D 3DDD4C46\n\
      \  5562F437 D54E5938 3D308152 59EE68FC AD5B6F18\n  \tquit\n!\nlicense udi pid\
      \ C8000V sn 9GU4MMXZICR\ndiagnostic bootup level minimal\nmemory free low-watermark\
      \ processor 68484\n!\n!\nusername netops privilege 15 secret 9 $9$CSv.6TUpfAELY.$0AaopQurkwM5xTIcBcomUi1q6tu0Bm0WhxoA2QiC0Zo\n\
      !\nredundancy\n!\n!\n!\n!\n!\n!\n!\n!\n!\ninterface GigabitEthernet1\n no ip\
      \ address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet2\n no\
      \ ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet3\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet4\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet5\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet6\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet7\n\
      \ ip address {{ cat8kv_r1_mgmt }} 255.255.255.0\nno shutdown \nnegotiation auto\n!\nip forward-protocol\
      \ nd\nno ip http server\nip http secure-server\n!\n!\n!\n!\n!\n!\ncontrol-plane\n\
      !\n!\nline con 0\n exec-timeout 0 0\n stopbits 1\nline aux 0\nline vty 0\n exec-timeout\
      \ 0 0\n login local\n transport input ssh\nline vty 1\n exec-timeout 0 0\n login\
      \ local\n length 0\n transport input ssh\nline vty 2 4\n exec-timeout 0 0\n\
      \ login local\n transport input ssh\n!\ncall-home\n ! If contact email address\
      \ in call-home is configured as sch-smart-licensing@cisco.com\n ! the email\
      \ address configured in Cisco Smart License Portal will be used as contact email\
      \ address to send SCH notifications.\n contact-email-addr sch-smart-licensing@cisco.com\n\
      \ profile \"CiscoTAC-1\"\n  active\n  destination transport-method http\n!\n\
      !\n!\n!\n!\n!\nend"
    cpu_limit: 100
    cpus: 1
    data_volume: null
    hide_links: false
    id: n1
    image_definition: null
    label: Cat8kV-rtr1
    node_definition: cat8000v
    ram: 4096
    tags: []
    x: 960
    y: 360
    interfaces:
      - id: i0
        label: Loopback0
        type: loopback
      - id: i1
        label: GigabitEthernet1
        slot: 0
        type: physical
      - id: i2
        label: GigabitEthernet2
        slot: 1
        type: physical
      - id: i3
        label: GigabitEthernet3
        slot: 2
        type: physical
      - id: i4
        label: GigabitEthernet4
        slot: 3
        type: physical
      - id: i5
        label: GigabitEthernet5
        slot: 4
        type: physical
      - id: i6
        label: GigabitEthernet6
        slot: 5
        type: physical
      - id: i7
        label: GigabitEthernet7
        slot: 6
        type: physical
  - boot_disk_size: null
    configuration: "Building configuration...\n\nCurrent configuration : 6239 bytes\n\
      !\n! Last configuration change at 17:09:08 UTC Wed Apr 12 2023\n!\nversion 17.6\n\
      service timestamps debug datetime msec\nservice timestamps log datetime msec\n\
      service call-home\nplatform qfp utilization monitor load 80\nplatform punt-keepalive\
      \ disable-kernel-core\nplatform console serial\n!\nhostname inserthostname_here\n\
      !\nboot-start-marker\nboot-end-marker\n!\n!\nno logging console\n!\nno aaa new-model\n\
      !\nip domain name {{ domain_name }}\ncrypto key generate rsa modulus 4096\nip ssh\
      \ version 2\nlogin on-success log\n!\n!\n!\n!\n!\n!\n!\nsubscriber\
      \ templating\n!\nmultilink bundle-name authenticated\n!\n!\n!\ncrypto pki trustpoint\
      \ SLA-TrustPoint\n enrollment pkcs12\n revocation-check crl\n!\ncrypto pki trustpoint\
      \ TP-self-signed-4289966393\n enrollment selfsigned\n subject-name cn=IOS-Self-Signed-Certificate-4289966393\n\
      \ revocation-check none\n rsakeypair TP-self-signed-4289966393\n!\n!\ncrypto\
      \ pki certificate chain SLA-TrustPoint\n certificate ca 01\n  30820321 30820209\
      \ A0030201 02020101 300D0609 2A864886 F70D0101 0B050030\n  32310E30 0C060355\
      \ 040A1305 43697363 6F312030 1E060355 04031317 43697363\n  6F204C69 63656E73\
      \ 696E6720 526F6F74 20434130 1E170D31 33303533 30313934\n  3834375A 170D3338\
      \ 30353330 31393438 34375A30 32310E30 0C060355 040A1305\n  43697363 6F312030\
      \ 1E060355 04031317 43697363 6F204C69 63656E73 696E6720\n  526F6F74 20434130\
      \ 82012230 0D06092A 864886F7 0D010101 05000382 010F0030\n  82010A02 82010100\
      \ A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D\n  CBB4C798 212AA147\
      \ C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520\n  1C394D78 462EF239\
      \ C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE\n  4AA4E80D DB6FD1C9\
      \ 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC\n  7390A3EB 2B5436AD\
      \ C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188\n  68E69491 20F320E7\
      \ 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7\n  C7479096 B4CB2D62\
      \ EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191\n  C55F0D76 61F9A4CD\
      \ 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44\n  DFC7C6CF 04DD7FD1\
      \ 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201\n  06300F06 03551D13\
      \ 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85\n  4B3D31E5 1B3E6A17\
      \ 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500\n  03820101 00507F24\
      \ D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905\n  604EDCDE FF4FED2B\
      \ 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B\n  D98987BF E40CBD9E\
      \ 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8\n  467A3DF4 4D565700\
      \ 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C\n  7CA7B7E6 C1AF74F6\
      \ 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B\n  5FB0DA06 B92AFE7F\
      \ 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678\n  80DDCD16 D6BACECA\
      \ EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB\n  418616A9 4093E049\
      \ 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0\n  D697DF7F 28\n  \t\
      quit\ncrypto pki certificate chain TP-self-signed-4289966393\n certificate self-signed\
      \ 01\n  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 05050030\n\
      \  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274\n\
      \  69666963 6174652D 34323839 39363633 3933301E 170D3233 30343131 32303533\n\
      \  30315A17 0D333330 34313032 30353330 315A3031 312F302D 06035504 03132649\n\
      \  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D34 32383939\n\
      \  36363339 33308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201\n\
      \  0A028201 0100B1C7 DBF11B63 98CDA417 44F333C4 6C6163D3 6C34B60B 8DA6C494\n\
      \  1E9C3D53 A898EDB0 C99049FF F7EA51DE 7CA78004 F9EC735D EC191C4D 736B61F1\n\
      \  256FC24B 6AE9C879 ED238AD5 591AD0F8 3E6A2A80 647DA9C1 9BB1DE1B 77203A37\n\
      \  BE8161A8 5BAADEE7 8490E210 89DEC5DE B0429203 ABC97B55 1A9FF192 5A524828\n\
      \  EF64218E 913F72D0 3A72273E D8D70AE7 D67DC044 FA649DA8 E85EC8F6 55D14500\n\
      \  C38EE069 6EA9644C A10E4B0C 9F561F0A C920D1ED FD551659 730B5B9F 62412AFC\n\
      \  3A2DE79E DB4E7D9B D716004E F84A07A7 2CAEED56 F7413F12 219CD5B3 A285C860\n\
      \  581A62BA 17102494 1D563D93 F91920AD A81D0AE6 A08A05F0 A3A99D58 3235FE0E\n\
      \  1518877E 8BEF0203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF\n\
      \  301F0603 551D2304 18301680 14353C4B 2FD20AA4 7D7AB02F 2A900581 AF7CB47D\n\
      \  BB301D06 03551D0E 04160414 353C4B2F D20AA47D 7AB02F2A 900581AF 7CB47DBB\n\
      \  300D0609 2A864886 F70D0101 05050003 82010100 1507B66A 78AC2344 FF7C2AB8\n\
      \  430E2936 74490FAF 0FF7FDB6 61791CD8 2E23246C 5D7F27E2 473D2555 E9703134\n\
      \  BEDF60E6 C455CD24 C49D48FF CBD2B51B 615F8052 50EB3D83 C43B0732 58B38077\n\
      \  664C6643 480B204E 496DA682 01803CE2 DE2038A0 7A9528BD 649234B6 6F50B6D4\n\
      \  89FF326E DCDC88F0 AC416E4E D6608639 8AE95436 4C73E64D 5DCAE5AC 839457AB\n\
      \  0E035110 812CDEAC CFEF8975 1E2FDC41 C38EC43B B807C627 63B9D8F2 07A15891\n\
      \  90476DA0 74237ADE 2AF66F60 1BF43B42 1D14A29D E2E83CBE E73AE419 45455479\n\
      \  AE021D51 76158213 8F4C84E5 BC654143 6EA47C49 885D82C1 F1019398 7E2426A7\n\
      \  D6B44878 593B0E8A 9AAF7187 251208B3 2055C0CD\n  \tquit\n!\nlicense udi pid\
      \ C8000V sn 9GHW3TAB9G2\ndiagnostic bootup level minimal\nmemory free low-watermark\
      \ processor 68484\n!\n!\nusername netops privilege 15 secret 9 $9$CSv.6TUpfAELY.$0AaopQurkwM5xTIcBcomUi1q6tu0Bm0WhxoA2QiC0Zo\n\
      !\nredundancy\n!\n!\n!\n!\n!\n!\n!\n!\n!\ninterface GigabitEthernet1\n no ip\
      \ address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet2\n no\
      \ ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet3\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet4\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet5\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet6\n\
      \ no ip address\n shutdown\n negotiation auto\n!\ninterface GigabitEthernet7\n\
      \ ip address {{ cat8kv_r2_mgmt }} 255.255.255.0\nno shutdown \nnegotiation auto\n!\nip\
      \ forward-protocol nd\nno ip http server\nip http secure-server\n!\n!\n!\n!\n\
      !\n!\ncontrol-plane\n!\n!\nline con 0\n exec-timeout 0 0\n stopbits 1\nline\
      \ aux 0\nline vty 0\n exec-timeout 0 0\n login local\n transport input ssh\n\
      line vty 1\n exec-timeout 0 0\n login local\n length 0\n transport input ssh\n\
      line vty 2 4\n exec-timeout 0 0\n login local\n transport input ssh\n!\ncall-home\n\
      \ ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com\n\
      \ ! the email address configured in Cisco Smart License Portal will be used\
      \ as contact email address to send SCH notifications.\n contact-email-addr sch-smart-licensing@cisco.com\n\
      \ profile \"CiscoTAC-1\"\n  active\n  destination transport-method http\n!\n\
      !\n!\n!\n!\n!\nend"
    cpu_limit: 100
    cpus: 1
    data_volume: null
    hide_links: false
    id: n2
    image_definition: null
    label: Cat8kV-rtr2
    node_definition: cat8000v
    ram: 4096
    tags: []
    x: 1320
    y: 360
    interfaces:
      - id: i0
        label: Loopback0
        type: loopback
      - id: i1
        label: GigabitEthernet1
        slot: 0
        type: physical
      - id: i2
        label: GigabitEthernet2
        slot: 1
        type: physical
      - id: i3
        label: GigabitEthernet3
        slot: 2
        type: physical
      - id: i4
        label: GigabitEthernet4
        slot: 3
        type: physical
      - id: i5
        label: GigabitEthernet5
        slot: 4
        type: physical
      - id: i6
        label: GigabitEthernet6
        slot: 5
        type: physical
      - id: i7
        label: GigabitEthernet7
        slot: 6
        type: physical
  - boot_disk_size: null
    configuration: "Building configuration...\n\nCurrent configuration : 8256 bytes\n\
      !\n! Last configuration change at 22:28:11 UTC Wed Apr 12 2023\n!\nversion 17.10\n\
      service timestamps debug datetime msec\nservice timestamps log datetime msec\n\
      service call-home\nplatform punt-keepalive disable-kernel-core\n!\nhostname\
      \ inserthostname-here\n!\n!\nvrf definition Mgmt-vrf\n !\n address-family ipv4\n\
      \ exit-address-family\n !\n address-family ipv6\n exit-address-family\n!\nno\
      \ logging console\nno aaa new-model\nswitch 1 provision c9kv-uadp-8p\n!\n!\n\
      !\nip domain name {{ domain_name }}\ncrypto key generate rsa modulus 4096\nip ssh\
      \ version 2\n!\n!\n!\nlogin on-success log\n\n!\ncrypto pki trustpoint SLA-TrustPoint\n enrollment\
      \ pkcs12\n revocation-check crl\n!\ncrypto pki trustpoint TP-self-signed-2874884994\n\
      \ enrollment selfsigned\n subject-name cn=IOS-Self-Signed-Certificate-2874884994\n\
      \ revocation-check none\n rsakeypair TP-self-signed-2874884994\n!\n!\ncrypto\
      \ pki certificate chain SLA-TrustPoint\n certificate ca 01\n  30820321 30820209\
      \ A0030201 02020101 300D0609 2A864886 F70D0101 0B050030\n  32310E30 0C060355\
      \ 040A1305 43697363 6F312030 1E060355 04031317 43697363\n  6F204C69 63656E73\
      \ 696E6720 526F6F74 20434130 1E170D31 33303533 30313934\n  3834375A 170D3338\
      \ 30353330 31393438 34375A30 32310E30 0C060355 040A1305\n  43697363 6F312030\
      \ 1E060355 04031317 43697363 6F204C69 63656E73 696E6720\n  526F6F74 20434130\
      \ 82012230 0D06092A 864886F7 0D010101 05000382 010F0030\n  82010A02 82010100\
      \ A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D\n  CBB4C798 212AA147\
      \ C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520\n  1C394D78 462EF239\
      \ C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE\n  4AA4E80D DB6FD1C9\
      \ 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC\n  7390A3EB 2B5436AD\
      \ C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188\n  68E69491 20F320E7\
      \ 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7\n  C7479096 B4CB2D62\
      \ EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191\n  C55F0D76 61F9A4CD\
      \ 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44\n  DFC7C6CF 04DD7FD1\
      \ 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201\n  06300F06 03551D13\
      \ 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85\n  4B3D31E5 1B3E6A17\
      \ 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500\n  03820101 00507F24\
      \ D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905\n  604EDCDE FF4FED2B\
      \ 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B\n  D98987BF E40CBD9E\
      \ 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8\n  467A3DF4 4D565700\
      \ 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C\n  7CA7B7E6 C1AF74F6\
      \ 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B\n  5FB0DA06 B92AFE7F\
      \ 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678\n  80DDCD16 D6BACECA\
      \ EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB\n  418616A9 4093E049\
      \ 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0\n  D697DF7F 28\n  \t\
      quit\ncrypto pki certificate chain TP-self-signed-2874884994\n certificate self-signed\
      \ 01\n  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 05050030\n\
      \  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274\n\
      \  69666963 6174652D 32383734 38383439 3934301E 170D3233 30343037 31343035\n\
      \  30345A17 0D333330 34303631 34303530 345A3031 312F302D 06035504 03132649\n\
      \  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D32 38373438\n\
      \  38343939 34308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201\n\
      \  0A028201 0100BF9D 1D703CF4 FEA095B8 00DC68C4 CBFE99AD A1ECE246 9B07CDF7\n\
      \  750E8D2B F7AF7FA4 19FE1C23 B94551CA D871656C 1FF878CE C09C3309 38E149B2\n\
      \  E2CD66CA 9458530A 5C4892CE 3EE3C29C C1D0BE6A DC0789D6 E8F3D431 0E737DE1\n\
      \  966A9039 F0575606 E62E6519 39B2C37F C1FBB550 F6BEEB27 6FD6258D 282E3A9C\n\
      \  5DCA6D53 FD201EF8 D99B452A 5A4FE7C9 854BEE79 CDBDD366 DAE6C972 8959D9AC\n\
      \  EC544956 335CAF2C 918E37CC 9D26D0D2 53A87EDC 37120642 A17FE07D F2F5AA1E\n\
      \  5E7A923C 1FFC0462 87B9F21B DF64EBCE 5BB65E1F 72C57261 CF3276F3 1B474778\n\
      \  E618A7D0 1C233AE4 45B38B3C 13828A44 D9D5BC38 25CE222E F2D9F1EC 07F862F3\n\
      \  D5F75235 F6F70203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF\n\
      \  301F0603 551D2304 18301680 14B29ED4 FB28B2E5 68E1B899 6333AC18 5BF0F06C\n\
      \  5C301D06 03551D0E 04160414 B29ED4FB 28B2E568 E1B89963 33AC185B F0F06C5C\n\
      \  300D0609 2A864886 F70D0101 05050003 82010100 8ADC53C6 7B2178A9 518A92D4\n\
      \  FDE21019 5CEA16CD 057C1184 59EEC206 4C2CE2A1 B8A86535 D983D9F7 3CE1D251\n\
      \  9E2CBD2B A19B236B F52CD7E5 36D44C3F F0E9DEA0 EF050A0C 58BD8024 96D025E5\n\
      \  35510160 5C402F6F A6BE8634 744E84F0 663B8934 AC00A0B5 FD899B8B 2E1783D7\n\
      \  D4BC473B 2E9E64BA F32336AF 943CE471 DDDEE4D4 3C682010 389DE5CB 248506C7\n\
      \  E08FB67B D226BCE2 D845066E 5B967D6C 1971D505 8AFA81C4 23916EFE EBE36EB4\n\
      \  FA4E00E9 98AE84D2 9CE43A94 CBF0272E 3FDA2D38 1CB6668D AC1E4946 A9E2F6B4\n\
      \  588C04C4 AA28DFA9 70D8136B 468AF622 A9BB2BFF E813B6F3 0A9FB59B BCB199F4\n\
      \  4533DC30 2F176951 ACCE8AB4 E3B9F4AE 25AE43DD\n  \tquit\n!\n!\nlicense boot\
      \ level network-advantage addon dna-advantage\nmemory free low-watermark processor\
      \ 75927\n!\ndiagnostic bootup level minimal\n!\nspanning-tree mode rapid-pvst\n\
      spanning-tree extend system-id\n!\n!\nenable secret 9 $9$8TCMmhZtXG8Fc.$mXk/XvZs0F/5zsQVoq.2dj6sioBncJuy9MdILAIUaBc\n\
      !\nusername netops privilege 15 secret 9 $9$IFRR4lL4Z8pimE$yCG30yyz4o.2BtSxJaFGHAh3h3svcgD1zaToCI7Sxn.\n\
      !\nredundancy\n mode sso\ncrypto engine compliance shield disable\n!\n!\n!\n\
      !\n!\n!\nclass-map match-any system-cpp-police-topology-control\n  description\
      \ Topology control\nclass-map match-any system-cpp-police-sw-forward\n  description\
      \ Sw forwarding, L2 LVX data, LOGGING\nclass-map match-any system-cpp-default\n\
      \  description EWLC control, EWLC data, Inter FED\nclass-map match-any system-cpp-police-sys-data\n\
      \  description Learning cache ovfl, High Rate App, Exception, EGR Exception,\
      \ NFL SAMPLED DATA, RPF Failed\nclass-map match-any system-cpp-police-punt-webauth\n\
      \  description Punt Webauth\nclass-map match-any system-cpp-police-l2lvx-control\n\
      \  description L2 LVX control packets\nclass-map match-any system-cpp-police-forus\n\
      \  description Forus Address resolution and Forus traffic\nclass-map match-any\
      \ system-cpp-police-multicast-end-station\n  description MCAST END STATION\n\
      class-map match-any system-cpp-police-multicast\n  description Transit Traffic\
      \ and MCAST Data\nclass-map match-any system-cpp-police-l2-control\n  description\
      \ L2 control\nclass-map match-any system-cpp-police-dot1x-auth\n  description\
      \ DOT1X Auth\nclass-map match-any system-cpp-police-data\n  description ICMP\
      \ redirect, ICMP_GEN and BROADCAST\nclass-map match-any system-cpp-police-stackwise-virt-control\n\
      \  description Stackwise Virtual\nclass-map match-any non-client-nrt-class\n\
      class-map match-any system-cpp-police-routing-control\n  description Routing\
      \ control and Low Latency\nclass-map match-any system-cpp-police-protocol-snooping\n\
      \  description Protocol snooping\nclass-map match-any system-cpp-police-dhcp-snooping\n\
      \  description DHCP snooping\nclass-map match-any system-cpp-police-system-critical\n\
      \  description System Critical and Gold Pkt\n!\npolicy-map system-cpp-policy\n\
      !\n!\n!\n!\n!\n!\n!\n!\n!\n!\n!\n!\ninterface GigabitEthernet0/0\n vrf forwarding\
      \ Mgmt-vrf\n ip address {{ cat9kv_sw1_mgmt }} 255.255.255.0\n negotiation auto\n!\ninterface\
      \ GigabitEthernet1/0/1\n!\ninterface GigabitEthernet1/0/2\n!\ninterface GigabitEthernet1/0/3\n\
      !\ninterface GigabitEthernet1/0/4\n!\ninterface GigabitEthernet1/0/5\n!\ninterface\
      \ GigabitEthernet1/0/6\n!\ninterface GigabitEthernet1/0/7\n!\ninterface GigabitEthernet1/0/8\n\
      !\ninterface Vlan1\n no ip address\n!\nip forward-protocol nd\nip tcp mss 1280\n\
      ip tcp window-size 212000\nip http server\nip http authentication local\nip\
      \ http secure-server\nip http client source-interface GigabitEthernet0/0\nip\
      \ route vrf Mgmt-vrf 0.0.0.0 0.0.0.0 1.1.1.1\nip ssh bulk-mode 131072\nip ssh\
      \ source-interface GigabitEthernet0/0\n!\n!\n!\n!\n!\n!\ncontrol-plane\n service-policy\
      \ input system-cpp-policy\n!\n!\nline con 0\n exec-timeout 0 0\n privilege level\
      \ 15\n login\n stopbits 1\nline vty 0 4\n exec-timeout 0 0\n privilege level\
      \ 15\n login local\n transport input ssh\nline vty 5 15\n login\n transport\
      \ input ssh\n!\ncall-home\n ! If contact email address in call-home is configured\
      \ as sch-smart-licensing@cisco.com\n ! the email address configured in Cisco\
      \ Smart License Portal will be used as contact email address to send SCH notifications.\n\
      \ contact-email-addr sch-smart-licensing@cisco.com\n profile \"CiscoTAC-1\"\n\
      \  active\n  destination transport-method http\n!\nnetconf ssh\n!\n!\n!\n!\n\
      !\nrestconf\nend"
    cpu_limit: 100
    cpus: 4
    data_volume: null
    hide_links: false
    id: n3
    image_definition: null
    label: Cat9kV-sw1
    node_definition: cat9000v-dd
    ram: 18432
    tags: []
    x: 960
    y: 560
    interfaces:
      - id: i0
        label: Loopback0
        type: loopback
      - id: i1
        label: GigabitEthernet0/0
        slot: 0
        type: physical
      - id: i2
        label: GigabitEthernet1/0/1
        slot: 1
        type: physical
      - id: i3
        label: GigabitEthernet1/0/2
        slot: 2
        type: physical
      - id: i4
        label: GigabitEthernet1/0/3
        slot: 3
        type: physical
      - id: i5
        label: GigabitEthernet1/0/4
        slot: 4
        type: physical
      - id: i6
        label: GigabitEthernet1/0/5
        slot: 5
        type: physical
      - id: i7
        label: GigabitEthernet1/0/6
        slot: 6
        type: physical
      - id: i8
        label: GigabitEthernet1/0/7
        slot: 7
        type: physical
      - id: i9
        label: GigabitEthernet1/0/8
        slot: 8
        type: physical
  - boot_disk_size: null
    configuration: |2-

      !Command: show running-config
      !Running configuration last done at: Wed Apr 12 17:06:31 2023
      !Time: Wed Apr 12 17:06:32 2023

      version 9.3(8) Bios:version
      vdc switch id 1
        limit-resource vlan minimum 16 maximum 4094
        limit-resource vrf minimum 2 maximum 4096
        limit-resource port-channel minimum 0 maximum 511
        limit-resource u4route-mem minimum 248 maximum 248
        limit-resource u6route-mem minimum 96 maximum 96
        limit-resource m4route-mem minimum 58 maximum 58
        limit-resource m6route-mem minimum 8 maximum 8
      no password strength-check
      username admin password 5 $5$FOBKDE$AfCina6FJ4ESs1Q6ZHHZ0HgFAUTL/VXEB78keriP7f.  role network-admin
      username netops password 5 $5$GDIFAN$6AOQydzN1.7eiIGPZJFTuIw2iTncL6gDS4vwLa8Yuy2  role network-admin
      username netops passphrase  lifetime 99999 warntime 14 gracetime 3
      no ip domain-lookup
      copp profile strict
      snmp-server user admin network-admin auth md5 33290F38AFC61C29DC1163480E51BAFDFFA5 priv 21515C738DF91103A769145F5413E6F0A8F7 localizedV2key
      snmp-server user netops network-admin auth md5 204A6746BC800902BE4B59470452B0B3B4FF priv 174D0C11F4C40B3C95075D581E43B9F5A0F9 localizedV2key
      rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
      rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
      rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
      rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
      rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO

      vlan 1

      vrf context management

      interface Ethernet1/1

      interface Ethernet1/2

      interface Ethernet1/3

      interface Ethernet1/4

      interface Ethernet1/5

      interface Ethernet1/6

      interface Ethernet1/7

      interface Ethernet1/8

      interface Ethernet1/9

      interface Ethernet1/10

      interface Ethernet1/11

      interface Ethernet1/12

      interface Ethernet1/13

      interface Ethernet1/14

      interface Ethernet1/15

      interface Ethernet1/16

      interface Ethernet1/17

      interface Ethernet1/18

      interface Ethernet1/19

      interface Ethernet1/20

      interface Ethernet1/21

      interface Ethernet1/22

      interface Ethernet1/23

      interface Ethernet1/24

      interface Ethernet1/25

      interface Ethernet1/26

      interface Ethernet1/27

      interface Ethernet1/28

      interface Ethernet1/29

      interface Ethernet1/30

      interface Ethernet1/31

      interface Ethernet1/32

      interface Ethernet1/33

      interface Ethernet1/34

      interface Ethernet1/35

      interface Ethernet1/36

      interface Ethernet1/37

      interface Ethernet1/38

      interface Ethernet1/39

      interface Ethernet1/40

      interface Ethernet1/41

      interface Ethernet1/42

      interface Ethernet1/43

      interface Ethernet1/44

      interface Ethernet1/45

      interface Ethernet1/46

      interface Ethernet1/47

      interface Ethernet1/48

      interface Ethernet1/49

      interface Ethernet1/50

      interface Ethernet1/51

      interface Ethernet1/52

      interface Ethernet1/53

      interface Ethernet1/54

      interface Ethernet1/55

      interface Ethernet1/56

      interface Ethernet1/57

      interface Ethernet1/58

      interface Ethernet1/59

      interface Ethernet1/60

      interface Ethernet1/61

      interface Ethernet1/62

      interface Ethernet1/63

      interface Ethernet1/64

      interface mgmt0
        vrf member management
        ip address {{ n9kv_sw1_mgmt }}/24
      icam monitor scale

      line console
        exec-timeout 0
      line vty
        exec-timeout 0
      boot nxos bootflash:/nxos.9.3.8.bin sup-1

      no logging console
    cpu_limit: 100
    cpus: 2
    data_volume: null
    hide_links: false
    id: n4
    image_definition: null
    label: n9kv-sw1
    node_definition: nxosv9000
    ram: 8192
    tags: []
    x: 1600
    y: 360
    interfaces:
      - id: i0
        label: Loopback0
        type: loopback
      - id: i1
        label: mgmt0
        slot: 0
        type: physical
      - id: i2
        label: Ethernet1/1
        slot: 1
        type: physical
      - id: i3
        label: Ethernet1/2
        slot: 2
        type: physical
      - id: i4
        label: Ethernet1/3
        slot: 3
        type: physical
  - boot_disk_size: null
    configuration: "Building configuration...\n\nCurrent configuration : 7915 bytes\n\
      !\n! Last configuration change at 19:01:13 UTC Wed Apr 12 2023\n!\nversion 17.10\n\
      service timestamps debug datetime msec\nservice timestamps log datetime msec\n\
      service call-home\nplatform punt-keepalive disable-kernel-core\n!\nhostname\
      \ inserthostname-here\n!\n!\nvrf definition Mgmt-vrf\n !\n address-family ipv4\n\
      \ exit-address-family\n !\n address-family ipv6\n exit-address-family\n!\nno\
      \ logging console\nno aaa new-model\nswitch 1 provision c9kv-uadp-8p\n!\n!\n\
      !\n!\nip domain name {{ domain_name }}\ncrypto key generate rsa modulus 4096\nip ssh\
      \ version 2\n!\n!\n!\n!\nlogin on-success log\n!\n!\n!\n!\n!\n!\ncrypto pki\
      \ trustpoint SLA-TrustPoint\n enrollment pkcs12\n revocation-check crl\n!\n\
      crypto pki trustpoint TP-self-signed-2874884994\n enrollment selfsigned\n subject-name\
      \ cn=IOS-Self-Signed-Certificate-2874884994\n revocation-check none\n rsakeypair\
      \ TP-self-signed-2874884994\n!\n!\ncrypto pki certificate chain SLA-TrustPoint\n\
      \ certificate ca 01\n  30820321 30820209 A0030201 02020101 300D0609 2A864886\
      \ F70D0101 0B050030\n  32310E30 0C060355 040A1305 43697363 6F312030 1E060355\
      \ 04031317 43697363\n  6F204C69 63656E73 696E6720 526F6F74 20434130 1E170D31\
      \ 33303533 30313934\n  3834375A 170D3338 30353330 31393438 34375A30 32310E30\
      \ 0C060355 040A1305\n  43697363 6F312030 1E060355 04031317 43697363 6F204C69\
      \ 63656E73 696E6720\n  526F6F74 20434130 82012230 0D06092A 864886F7 0D010101\
      \ 05000382 010F0030\n  82010A02 82010100 A6BCBD96 131E05F7 145EA72C 2CD686E6\
      \ 17222EA1 F1EFF64D\n  CBB4C798 212AA147 C655D8D7 9471380D 8711441E 1AAF071A\
      \ 9CAE6388 8A38E520\n  1C394D78 462EF239 C659F715 B98C0A59 5BBB5CBD 0CFEBEA3\
      \ 700A8BF7 D8F256EE\n  4AA4E80D DB6FD1C9 60B1FD18 FFC69C96 6FA68957 A2617DE7\
      \ 104FDC5F EA2956AC\n  7390A3EB 2B5436AD C847A2C5 DAB553EB 69A9A535 58E9F3E3\
      \ C0BD23CF 58BD7188\n  68E69491 20F320E7 948E71D7 AE3BCC84 F10684C7 4BC8E00F\
      \ 539BA42B 42C68BB7\n  C7479096 B4CB2D62 EA2F505D C7B062A4 6811D95B E8250FC4\
      \ 5D5D5FB8 8F27D191\n  C55F0D76 61F9A4CD 3D992327 A8BB03BD 4E6D7069 7CBADF8B\
      \ DF5F4368 95135E44\n  DFC7C6CF 04DD7FD1 02030100 01A34230 40300E06 03551D0F\
      \ 0101FF04 04030201\n  06300F06 03551D13 0101FF04 05300301 01FF301D 0603551D\
      \ 0E041604 1449DC85\n  4B3D31E5 1B3E6A17 606AF333 3D3B4C73 E8300D06 092A8648\
      \ 86F70D01 010B0500\n  03820101 00507F24 D3932A66 86025D9F E838AE5C 6D4DF6B0\
      \ 49631C78 240DA905\n  604EDCDE FF4FED2B 77FC460E CD636FDB DD44681E 3A5673AB\
      \ 9093D3B1 6C9E3D8B\n  D98987BF E40CBD9E 1AECA0C2 2189BB5C 8FA85686 CD98B646\
      \ 5575B146 8DFC66A8\n  467A3DF4 4D565700 6ADF0F0D CF835015 3C04FF7C 21E878AC\
      \ 11BA9CD2 55A9232C\n  7CA7B7E6 C1AF74F6 152E99B7 B1FCF9BB E973DE7F 5BDDEB86\
      \ C71E3B49 1765308B\n  5FB0DA06 B92AFE7F 494E8A9E 07B85737 F3A58BE1 1A48A229\
      \ C37C1E69 39F08678\n  80DDCD16 D6BACECA EEBC7CF9 8428787B 35202CDC 60E4616A\
      \ B623CDBD 230E3AFB\n  418616A9 4093E049 4D10AB75 27E86F73 932E35B5 8862FDAE\
      \ 0275156F 719BB2F0\n  D697DF7F 28\n  \tquit\ncrypto pki certificate chain TP-self-signed-2874884994\n\
      \ certificate self-signed 01\n  30820330 30820218 A0030201 02020101 300D0609\
      \ 2A864886 F70D0101 05050030\n  31312F30 2D060355 04031326 494F532D 53656C66\
      \ 2D536967 6E65642D 43657274\n  69666963 6174652D 32383734 38383439 3934301E\
      \ 170D3233 30343037 31343034\n  33385A17 0D333330 34303631 34303433 385A3031\
      \ 312F302D 06035504 03132649\n  4F532D53 656C662D 5369676E 65642D43 65727469\
      \ 66696361 74652D32 38373438\n  38343939 34308201 22300D06 092A8648 86F70D01\
      \ 01010500 0382010F 00308201\n  0A028201 0100B559 BBF5B223 770E800F D7914CCA\
      \ 62BE43A5 DB4D6886 2FB67995\n  431B40A2 91D1ED47 928DAAF5 EDE59CD0 4848A900\
      \ 46AC6B6E FF64CB88 28211B33\n  DAA02374 156EA9B0 9BF91E56 C7F2C435 6550880E\
      \ 0EF3D19D C92B549D 67C159AA\n  83540CC0 FAFCA3C2 3307694C 46206149 A0C10615\
      \ 4E448207 3D40CF6A EAE6BE97\n  FE0664B1 45630976 E8E8AE82 69C2BE62 03AE1455\
      \ 3A23F6F1 E10DBC61 19917F58\n  5B5CF798 B5F75128 EAF00A58 9C45778F 162874FD\
      \ 959214A9 67354BF6 6664AC0A\n  F1C6545C 2D1EC2F6 6C27FB22 32C69D0C 966ADAAB\
      \ 942095AB 5079B7CE B2FA4006\n  BBA8985E A7FFFC5A 46555769 A3B4E8B3 EEC6CA26\
      \ E21EB899 BCF0B247 965CC3B2\n  5432B1EC 77210203 010001A3 53305130 0F060355\
      \ 1D130101 FF040530 030101FF\n  301F0603 551D2304 18301680 14B8FB11 84FD9AC4\
      \ B4455B1B 60199E6F D2830B3C\n  13301D06 03551D0E 04160414 B8FB1184 FD9AC4B4\
      \ 455B1B60 199E6FD2 830B3C13\n  300D0609 2A864886 F70D0101 05050003 82010100\
      \ 7FA47F21 A68C05B0 170CDF2E\n  CE1C201E ADAA7F5A F42300F2 E2A2C6E2 A624A02B\
      \ 293F0BDA 37468150 1EC617FB\n  C47D3A9A EB0F86E5 544C1DAD 0E9129F5 51208915\
      \ 8CD23EED D95D2DE4 161D33B8\n  00DEF5DF ECE5321D 538DE5E6 45975460 6F016969\
      \ 4DC6C537 42E2E0AC C3B0C4A6\n  3E028BAF 2CA9057F 8FD187E2 FAE046C6 6CE0FD53\
      \ 2E0A2B24 1D2BA39E AB000324\n  87D41A81 D8ED9CD7 5EAC9DA9 DABD71D8 03C3266C\
      \ 6FB16083 7601FC31 A0B8502A\n  8CFD7AD5 8AAC08AD 85EA0B06 6DA018B3 EE9F4C02\
      \ 2049F57E 1ECA1F5F 7CC47405\n  D588F076 83C3D72D 353C58B3 CE18FCE1 0BAED193\
      \ 400BDAF5 B7AD381B D0F61CE7\n  DA3BFB50 126A33B8 25495AD3 3971D7AF 28482599\n\
      \  \tquit\n!\nmemory free low-watermark processor 75927\n!\ndiagnostic bootup\
      \ level minimal\n!\nspanning-tree mode rapid-pvst\nspanning-tree extend system-id\n\
      !\n!\nenable secret 9 $9$8TCMmhZtXG8Fc.$mXk/XvZs0F/5zsQVoq.2dj6sioBncJuy9MdILAIUaBc\n\
      !\nusername netops privilege 15 secret 9 $9$6DYSVh/SNajnt.$5XnaZqaBjdu9MFsd1VmpYZyOCX5QWx/XdQ9Q7dOs2hI\n\
      !\nredundancy\n mode sso\ncrypto engine compliance shield disable\n!\n!\n!\n\
      !\n!\n!\nclass-map match-any system-cpp-police-topology-control\n  description\
      \ Topology control\nclass-map match-any system-cpp-police-sw-forward\n  description\
      \ Sw forwarding, L2 LVX data, LOGGING\nclass-map match-any system-cpp-default\n\
      \  description EWLC control, EWLC data, Inter FED\nclass-map match-any system-cpp-police-sys-data\n\
      \  description Learning cache ovfl, High Rate App, Exception, EGR Exception,\
      \ NFL SAMPLED DATA, RPF Failed\nclass-map match-any system-cpp-police-punt-webauth\n\
      \  description Punt Webauth\nclass-map match-any system-cpp-police-l2lvx-control\n\
      \  description L2 LVX control packets\nclass-map match-any system-cpp-police-forus\n\
      \  description Forus Address resolution and Forus traffic\nclass-map match-any\
      \ system-cpp-police-multicast-end-station\n  description MCAST END STATION\n\
      class-map match-any system-cpp-police-multicast\n  description Transit Traffic\
      \ and MCAST Data\nclass-map match-any system-cpp-police-l2-control\n  description\
      \ L2 control\nclass-map match-any system-cpp-police-dot1x-auth\n  description\
      \ DOT1X Auth\nclass-map match-any system-cpp-police-data\n  description ICMP\
      \ redirect, ICMP_GEN and BROADCAST\nclass-map match-any system-cpp-police-stackwise-virt-control\n\
      \  description Stackwise Virtual\nclass-map match-any non-client-nrt-class\n\
      class-map match-any system-cpp-police-routing-control\n  description Routing\
      \ control and Low Latency\nclass-map match-any system-cpp-police-protocol-snooping\n\
      \  description Protocol snooping\nclass-map match-any system-cpp-police-dhcp-snooping\n\
      \  description DHCP snooping\nclass-map match-any system-cpp-police-system-critical\n\
      \  description System Critical and Gold Pkt\n!\npolicy-map system-cpp-policy\n\
      !\n!\n!\n!\n!\n!\n!\n!\n!\n!\n!\ninterface GigabitEthernet0/0\n vrf forwarding\
      \ Mgmt-vrf\n ip address {{ cat9kv_sw2_mgmt }} 255.255.255.0\n negotiation auto\n!\ninterface\
      \ GigabitEthernet1/0/1\n!\ninterface GigabitEthernet1/0/2\n!\ninterface GigabitEthernet1/0/3\n\
      !\ninterface GigabitEthernet1/0/4\n!\ninterface GigabitEthernet1/0/5\n!\ninterface\
      \ GigabitEthernet1/0/6\n!\ninterface GigabitEthernet1/0/7\n!\ninterface GigabitEthernet1/0/8\n\
      !\ninterface Vlan1\n no ip address\n!\nip forward-protocol nd\nip tcp mss 1280\n\
      ip tcp window-size 212000\nip http server\nip http authentication local\nip\
      \ http secure-server\nip route vrf Mgmt-vrf 0.0.0.0 0.0.0.0 172.16.1.254\nip\
      \ ssh bulk-mode 131072\n!\n!\n!\n!\ncontrol-plane\n service-policy input system-cpp-policy\n\
      !\n!\nline con 0\n exec-timeout 0 0\n stopbits 1\nline vty 0 4\n exec-timeout\
      \ 0 0\n login local\n transport input ssh\nline vty 5 15\n login\n transport\
      \ input ssh\n!\ncall-home\n ! If contact email address in call-home is configured\
      \ as sch-smart-licensing@cisco.com\n ! the email address configured in Cisco\
      \ Smart License Portal will be used as contact email address to send SCH notifications.\n\
      \ contact-email-addr sch-smart-licensing@cisco.com\n profile \"CiscoTAC-1\"\n\
      \  active\n  destination transport-method http\n!\n!\n!\n!\n!\nend"
    cpu_limit: 100
    cpus: 4
    data_volume: null
    hide_links: false
    id: n5
    image_definition: null
    label: Cat9kV-sw2
    node_definition: cat9000v-dd
    ram: 18432
    tags: []
    x: 1320
    y: 560
    interfaces:
      - id: i0
        label: Loopback0
        type: loopback
      - id: i1
        label: GigabitEthernet0/0
        slot: 0
        type: physical
      - id: i2
        label: GigabitEthernet1/0/1
        slot: 1
        type: physical
      - id: i3
        label: GigabitEthernet1/0/2
        slot: 2
        type: physical
      - id: i4
        label: GigabitEthernet1/0/3
        slot: 3
        type: physical
      - id: i5
        label: GigabitEthernet1/0/4
        slot: 4
        type: physical
      - id: i6
        label: GigabitEthernet1/0/5
        slot: 5
        type: physical
      - id: i7
        label: GigabitEthernet1/0/6
        slot: 6
        type: physical
      - id: i8
        label: GigabitEthernet1/0/7
        slot: 7
        type: physical
      - id: i9
        label: GigabitEthernet1/0/8
        slot: 8
        type: physical
  - boot_disk_size: null
    configuration: |2-

      !Command: show running-config
      !Running configuration last done at: Fri Apr  7 21:03:32 2023
      !Time: Fri Apr  7 21:03:33 2023

      version 9.3(8) Bios:version
      vdc switch id 1
        limit-resource vlan minimum 16 maximum 4094
        limit-resource vrf minimum 2 maximum 4096
        limit-resource port-channel minimum 0 maximum 511
        limit-resource u4route-mem minimum 248 maximum 248
        limit-resource u6route-mem minimum 96 maximum 96
        limit-resource m4route-mem minimum 58 maximum 58
        limit-resource m6route-mem minimum 8 maximum 8
      no password strength-check
      username admin password 5 $5$BGAHII$G5ombGeAeObnief66XXbCxD487mY4AJ17eK9M234xl8  role network-admin
      username netops password 5 $5$HBCLEL$xwtTNGRsYbszkNw//rBbFWCAk9LTXLWRsomt4jguuLB  role network-admin
      username netops passphrase  lifetime 99999 warntime 14 gracetime 3
      ip domain-lookup
      snmp-server user admin network-admin auth md5 5301813F5D8133B032A2D4F92DF5070F9803 priv 0060BA5423EE729C1DCBAD9CA578939CFC49 localizedV2key
      snmp-server user netops network-admin auth md5 0065F25921BA58D65CE3F8D7BB739D87EA68 priv 4953956116C62BB038D993B1D4CD4E567C11 localizedV2key
      rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
      rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
      rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
      rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
      rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO

      vlan 1,900
      vlan 900
        name management

      vrf context management

      interface Ethernet1/1
        description ubuntu desktop
        switchport access vlan 900

      interface Ethernet1/2
        description Cat8kV-rtr1
        switchport access vlan 900

      interface Ethernet1/3
        description Cat8kV-rtr2
        switchport access vlan 900

      interface Ethernet1/4
        description n9kv-sw1
        switchport access vlan 900

      interface Ethernet1/5
        description Cat9kV-sw1
        switchport access vlan 900

      interface Ethernet1/6
        description Cat9kV-sw2
        switchport access vlan 900

      interface Ethernet1/7

      interface Ethernet1/8

      interface Ethernet1/9

      interface Ethernet1/10

      interface Ethernet1/11

      interface Ethernet1/12

      interface Ethernet1/13

      interface Ethernet1/14

      interface Ethernet1/15

      interface Ethernet1/16

      interface Ethernet1/17

      interface Ethernet1/18

      interface Ethernet1/19

      interface Ethernet1/20

      interface Ethernet1/21

      interface Ethernet1/22

      interface Ethernet1/23

      interface Ethernet1/24

      interface Ethernet1/25

      interface Ethernet1/26

      interface Ethernet1/27

      interface Ethernet1/28

      interface Ethernet1/29

      interface Ethernet1/30

      interface Ethernet1/31

      interface Ethernet1/32

      interface Ethernet1/33

      interface Ethernet1/34

      interface Ethernet1/35

      interface Ethernet1/36

      interface Ethernet1/37

      interface Ethernet1/38

      interface Ethernet1/39

      interface Ethernet1/40

      interface Ethernet1/41

      interface Ethernet1/42

      interface Ethernet1/43

      interface Ethernet1/44

      interface Ethernet1/45

      interface Ethernet1/46

      interface Ethernet1/47

      interface Ethernet1/48

      interface Ethernet1/49

      interface Ethernet1/50

      interface Ethernet1/51

      interface Ethernet1/52

      interface Ethernet1/53

      interface Ethernet1/54

      interface Ethernet1/55

      interface Ethernet1/56

      interface Ethernet1/57

      interface Ethernet1/58

      interface Ethernet1/59

      interface Ethernet1/60

      interface Ethernet1/61

      interface Ethernet1/62

      interface Ethernet1/63

      interface Ethernet1/64

      interface mgmt0
        vrf member management
      icam monitor scale

      line console
        exec-timeout 0
      line vty
        exec-timeout 0
      boot nxos bootflash:/nxos.9.3.8.bin sup-1

      no logging console
    cpu_limit: 100
    cpus: 2
    data_volume: null
    hide_links: true
    id: n6
    image_definition: null
    label: n9k-OoB-mgmt
    node_definition: nxosv9000
    ram: 8192
    tags: []
    x: 1160
    y: 120
    interfaces:
      - id: i0
        label: Loopback0
        type: loopback
      - id: i1
        label: mgmt0
        slot: 0
        type: physical
      - id: i2
        label: Ethernet1/1
        slot: 1
        type: physical
      - id: i3
        label: Ethernet1/2
        slot: 2
        type: physical
      - id: i4
        label: Ethernet1/3
        slot: 3
        type: physical
      - id: i5
        label: Ethernet1/4
        slot: 4
        type: physical
      - id: i6
        label: Ethernet1/5
        slot: 5
        type: physical
      - id: i7
        label: Ethernet1/6
        slot: 6
        type: physical
  - boot_disk_size: 16
    configuration: |-
      # this is a shell script which will be sourced at boot
      hostname {{ alpine0_hostname }}
      # configurable user account
      USERNAME=netops
      PASSWORD=netops_admin

      ip address add {{ alpine0_eth0_ip }}{{ alpine0_eth0_mask }} dev eth0
      ip link set dev eth1 up
      ip route add default via {{ alpine0_eth0_gw }}
    cpu_limit: 100
    cpus: 1
    data_volume: 0
    hide_links: false
    id: n7
    image_definition: null
    label: alpine-0
    node_definition: alpine
    ram: 512
    tags: []
    x: 960
    y: 840
    interfaces:
      - id: i0
        label: eth0
        slot: 0
        type: physical
  - boot_disk_size: 16
    configuration: |-
      # this is a shell script which will be sourced at boot
      hostname {{ alpine1_hostname }}
      # configurable user account
      USERNAME=netops
      PASSWORD=netops_admin

      ip address add {{ alpine1_eth0_ip }}{{ alpine1_eth0_mask }} dev eth0
      ip link set dev eth1 up
      ip route add default via {{ alpine1_eth0_gw }}
    cpu_limit: 100
    cpus: 1
    data_volume: 0
    hide_links: false
    id: n8
    image_definition: null
    label: alpine-1
    node_definition: alpine
    ram: 512
    tags: []
    x: 1320
    y: 840
    interfaces:
      - id: i0
        label: eth0
        slot: 0
        type: physical
  - boot_disk_size: 16
    configuration: |-
      # this is a shell script which will be sourced at boot
      hostname {{ alpine2_hostname }}
      # configurable user account
      USERNAME=netops
      PASSWORD=netops_admin

      ip address add {{ alpine2_eth0_ip }}{{ alpine2_eth0_mask }} dev eth0
      ip link set dev eth1 up
      ip route add default via {{ alpine2_eth0_gw}}
    cpu_limit: 100
    cpus: 1
    data_volume: 0
    hide_links: false
    id: n9
    image_definition: null
    label: alpine-2
    node_definition: alpine
    ram: 512
    tags: []
    x: 1840
    y: 360
    interfaces:
      - id: i0
        label: eth0
        slot: 0
        type: physical
  - boot_disk_size: null
    configuration: |-
      #cloud-config
      hostname: studentlab1
      manage_etc_hosts: True
      system_info:
        default_user:
          name: netops
      password: netops_admin
      chpasswd: { expire: False }
      ssh_pwauth: True
      ssh_authorized_keys:
         - your-ssh-pubkey-line-goes-here
      apt:
        http_proxy: http://proxy.esl.cisco.com:80/
        https_proxy: http://proxy.esl.cisco.com:80/
      write_files:
        - path:  /etc/netplan/50-cloud-init.yaml
          permissions: '0644'
          content: |
            network:
              version: 2
              renderer: networkd
              ethernets:
                ens2:
                  addresses: [{{ ubuntu_host_ens2 }}]
                  nameservers:
                    search: [{{domain_name}}]
                    addresses: [{{ dns1 }}]
                  routes:
                    - to: default
                      via: {{ ubuntu_host_ens2_gw }}
                ens3:
                  addresses: [{{ubuntu_host_ens3}}]
                ens4:
                  addresses: [{{ubuntu_host_ens4}}]
                  routes:
                    - to: 2.2.2.0/24
                      via: 1.1.1.2
                      metric: 2
                    - to: 3.3.3.0/24
                      via: 1.1.1.2
                      metric: 2
                    - to: 4.4.4.0/25
                      via: 1.1.1.2
                      metric: 2
                    - to: 4.4.4.128/25
                      via: 1.1.1.2
                      metric: 2

      runcmd:
        - [sudo, netplan, generate]
        - [sudo, netplan, apply]
        - sudo apt update
        - sudo apt install python3-pip git chrony -y
        - pip3 install ansible ansible-pylibssh
        - git clone https://github.com/roguerouter/automation_day_phase2.git /home/netops/automation_day_labs
        - chown -R netops:netops /home/netops/automation_day_labs
        - chmod 775 -R /home/netops/automation_day_labs
        - sudo bash -c "echo 'pool 10.82.128.254' >> /etc/chrony/chrony.conf"
        - sudo bash -c "echo 'allow 172.16.1.0/24' >> /etc/chrony/chrony.conf"
        - sudo systemctl restart chrony
    cpu_limit: null
    cpus: null
    data_volume: null
    hide_links: false
    id: n10
    image_definition: ubuntu-22-04-20221028
    label: ubuntu-0
    node_definition: ubuntu
    ram: null
    tags: []
    x: 680
    y: 200
    interfaces:
      - id: i0
        label: ens2
        slot: 0
        type: physical
      - id: i1
        label: ens3
        slot: 1
        type: physical
      - id: i2
        label: ens4
        slot: 2
        type: physical
annotations:
  - border_color: '#808080FF'
    border_radius: 0
    border_style: ''
    color: '#B3CAC89B'
    thickness: 1
    type: rectangle
    x1: 880.0
    y1: 400.0
    x2: 160.0
    y2: 400.0
    z_index: 0
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 270
    text_bold: true
    text_content: VLAN_5
    text_font: monospace
    text_italic: false
    text_size: 16
    text_unit: pt
    thickness: 1
    type: text
    x1: 885.068359375
    y1: 720.0
    z_index: 1
  - border_color: '#808080FF'
    border_radius: 0
    border_style: ''
    color: '#CAB3C99C'
    thickness: 1
    type: rectangle
    x1: 1240.0
    y1: 400.0
    x2: 160.0
    y2: 400.0
    z_index: 0
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 270
    text_bold: true
    text_content: VLAN_20
    text_font: monospace
    text_italic: false
    text_size: 16
    text_unit: pt
    thickness: 1
    type: text
    x1: 1245.068359375
    y1: 720.0
    z_index: 1
  - border_color: '#00000000'
    border_style: ''
    color: '#808080FF'
    rotation: 0
    text_bold: false
    text_content: ''
    text_font: monospace
    text_italic: false
    text_size: 12
    text_unit: pt
    thickness: 1
    type: text
    x1: 1400.0
    y1: 600.0
    z_index: 2
  - border_color: '#808080FF'
    border_radius: 0
    border_style: ''
    color: '#FF710CA0'
    thickness: 1
    type: rectangle
    x1: 1360.0
    y1: 280.0
    x2: 443.336544628276
    y2: 120.0
    z_index: 0
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 0
    text_bold: true
    text_content: VLAN_30
    text_font: monospace
    text_italic: false
    text_size: 16
    text_unit: pt
    thickness: 5
    type: text
    x1: 1400.0
    y1: 285.068359375
    z_index: 1
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 30
    text_bold: true
    text_content: 1.1.1.0/30
    text_font: monospace
    text_italic: false
    text_size: 15
    text_unit: pt
    thickness: 1
    type: text
    x1: 788.173828125
    y1: 228.17382812500003
    z_index: 3
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 0
    text_bold: true
    text_content: 3.3.3.0/30
    text_font: monospace
    text_italic: false
    text_size: 15
    text_unit: pt
    thickness: 1
    type: text
    x1: 1069.86328125
    y1: 333.515625
    z_index: 3
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 270
    text_bold: true
    text_content: 4.4.4.0/25
    text_font: monospace
    text_italic: false
    text_size: 16
    text_unit: pt
    thickness: 1
    type: text
    x1: 1245.068359375
    y1: 591.552734375
    z_index: 3
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 270
    text_bold: true
    text_content: 2.2.2.0/24
    text_font: monospace
    text_italic: false
    text_size: 16
    text_unit: pt
    thickness: 1
    type: text
    x1: 885.068359375
    y1: 594.931640625
    z_index: 3
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 0
    text_bold: true
    text_content: 4.4.4.128/25
    text_font: monospace
    text_italic: false
    text_size: 15
    text_unit: pt
    thickness: 1
    type: text
    x1: 1504.794921875
    y1: 285.068359375
    z_index: 3
  - border_color: '#808080FF'
    border_style: ''
    color: '#008DFF72'
    thickness: 1
    type: ellipse
    x1: 1140.0
    y1: 320.0
    x2: 220.0
    y2: 120.0
    z_index: -3
  - border_color: '#00000000'
    border_style: ''
    color: '#808080FF'
    rotation: 0
    text_bold: false
    text_content: ''
    text_font: monospace
    text_italic: false
    text_size: 12
    text_unit: pt
    thickness: 1
    type: text
    x1: 40.0
    y1: 40.0
    z_index: 4
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 0
    text_bold: false
    text_content: OSPF 30 - AREA 0
    text_font: monospace
    text_italic: false
    text_size: 16
    text_unit: pt
    thickness: 1
    type: text
    x1: 1040.0
    y1: 280.0
    z_index: 5
  - border_color: '#00000000'
    border_style: ''
    color: '#000000FF'
    rotation: 350
    text_bold: true
    text_content: 172.16.1.0/24
    text_font: monospace
    text_italic: false
    text_size: 16
    text_unit: pt
    thickness: 1
    type: text
    x1: 838.2145563565043
    y1: 145.71645085203414
    z_index: 6
