all:
  vars:
    ansible_user: netops
    ansible_connection: ansible.netcommon.network_cli
  children:
    routers:
      hosts:
        cat8kv_r1:
          routed_interfaces:
          - name: GigabitEthernet1
            description: "Ubuntu Desktop"
            enabled: True
            address: 1.1.1.2/30
          - name: GigabitEthernet2
            description: "link to cat9kv_sw1"
            enabled: True
            address: 2.2.2.254/24
          - name: GigabitEthernet3
            description: "Link to cat8kv_r2"
            enabled: True
            address: 3.3.3.1/30
        cat8kv_r2:
          routed_interfaces:
          - name: GigabitEthernet1
            description: "Link to cat8kv_r1"
            enabled: True
            address: 3.3.3.2/30
          - name: GigabitEthernet2
            description: "Link to cat9kv_sw2"
            enabled: True
            address: 4.4.4.126/25
          - name: GigabitEthernet3
            description: "Link to n9kv_sw1"
            enabled: True
            address: 4.4.4.254/25
    switches:
      hosts:
        cat9kv_sw1:
          switchport_interfaces:
          - name: GigabitEthernet1
            description: "Link to cat8kv_r1"
            enabled: True
            address: 3.3.3.2/30
          - name: GigabitEthernet2
            description: "Link to cat9kv_sw2"
            enabled: True
            address: 4.4.4.126/25
          - name: GigabitEthernet3
            description: "Link to n9kv_sw1"
            enabled: True
            address: 4.4.4.254/25
          vlans:
          - name: vlan_5_ansible
            id: 5
            enabled: True
          - name: vlan_10_ansible
            id: 10 
            enabled: True
        cat9kv_sw2:
          switchport_interfaces:
          - name: GigabitEthernet1
            description: "Link to cat8kv_r1"
            enabled: True
            address: 3.3.3.2/30
          - name: GigabitEthernet2
            description: "Link to cat9kv_sw2"
            enabled: True
            address: 4.4.4.126/25
          - name: GigabitEthernet3
            description: "Link to n9kv_sw1"
            enabled: True
            address: 4.4.4.254/25
          vlans:
          - name: vlan_20_ansible
            id: 20
            enabled: True
        n9kv_sw1:
          switchport_interfaces:
          - name: GigabitEthernet1
            description: "Link to cat8kv_r1"
            enabled: True
            address: 3.3.3.2/30
          - name: GigabitEthernet2
            description: "Link to cat9kv_sw2"
            enabled: True
            address: 4.4.4.126/25
          - name: GigabitEthernet3
            description: "Link to n9kv_sw1"
            enabled: True
            address: 4.4.4.254/25